.globalContainer{
    display: grid;
    grid-template-columns: 100%;
}

.topContainer{
    display: grid;
    grid-template-columns: 50% 50%;
}

.CodeMirror {
    font-size: 21px !important;
}

.validate{
    margin-top: 1px;
    height: 250px;
    padding: 10px;
}

.validateHeader{
    display: flex;
    align-items: center;
}

.arrow{
    font-size: 50px;
}

.validateBtn{
    background-color: transparent;
    margin-bottom: 10px;
    margin-left: 10px;
}

.validateBtn:hover{
    background-color: #e6e4e4;
    cursor: pointer;
    
}

.validateBtn:focus{
    outline: none;
    
}